#id-contactar {
  height: 80vh;
  height: 80lvh;
  margin-bottom: var(--espaciado-vh);
  margin-bottom: var(--espaciado-lvh);
  display: flex;
  justify-content: center;
}
.contactar {
  height: 100%;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2vh;
  gap: 2lvh;
}
.contactar-title hr {
  margin-bottom: 20px;
  border: none;
  width: 100%;
  height: 3px;
  background: var(--color-secundario);
  border-radius: 10px;
}
.contactar-inputs {
  height: 50px;
  width: 100%;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  border-radius: 50px;
  border: 2px solid var(--color-terciario);
}
.contactar-inputs:hover,
.contactar-inputs:focus {
  border: 2px solid var(--color-secundario);
}
.contactar textarea {
  height: 80px;
  padding-top: 15px;
  border-radius: 20px;
  resize: none;
}
.contactar-inputs::placeholder {
  color: var(--color-terciario);
}

/* --------------------------------------------------- */

input,
textarea {
  cursor: auto;
}
