#id-informacion p,
.svg-informacion {
  padding: 2vw 0 2vw 2vw;
}

/* --------------------------------------------------- */

.svg-informacion {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 6vw;
}
@media (width < 760px) {
  .svg-informacion {
    gap: 3vw;
  }
}
