#id-informacion p, .informacion {
  padding: 2vw 0 2vw 2vw;
}

/* --------------------------------------------------- */

.informacion {
  display: flex;
  justify-content: space-around;
}
svg {
  width: 5vw;
}