#id-inicio {
  height: 100vh;
  height: 100svh;
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

/* --------------------------------------------------- */

header {
  width: 100%;
  position: absolute;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh min(2em, 7%);
  padding: 2svh min(2em, 7%);
  box-sizing: border-box;
}
.header-info {
  cursor: default;
}
.header-atajos {
  display: flex;
  gap: 2rem;
  align-items: center;
  background: none;
}
.cursiva {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

/* --------------------------------------------------- */

.a-diferentes {
  background: transparent;
}
.a-diferentes:hover {
  background: var(--color-secundario);
}

.descargar {
  margin-bottom: 5vh;
  margin-bottom: 5svh;
  position: absolute;
  bottom: 0;
}

/* --------------------------------------------------- */

.inicio-info {
  text-align: center;
  background: transparent;
}
