/*
Titulo
{
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
}

Cuerpo
{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-variation-settings: "wdth" 100;
}
*/

:root {
  --color-primario: #000509;
  --color-secundario: #0ba249;
  --color-texto: #fbfef9;
  --color-terciario: #797979;
  --color-titulo: #26de42;
  --espaciado-vh: 10vh;
  --espaciado-lvh: 10lvh;
}

::-webkit-scrollbar {
  background: var(--color-primario); /* Color del fondo del track */
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-secundario); /* Color del thumb */
  border-radius: 3px; /* Bordes redondeados */
  /* border: 2px solid #ffffff; Agregar un borde (opcional) */
}

html,
body {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--color-primario);
  color: var(--color-texto);
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

h1 {
  font-size: clamp(2.5rem, calc(8vw + 1rem), 6rem);
  color: var(--color-titulo);
}
h2 {
  font-size: clamp(1rem, calc(1.5vw + 0.8rem), 1.7rem);
}
h3 {
  font-size: clamp(1.2rem, calc(1.5vw + 0.5rem), 1.4rem);
}
h4 {
  font-size: clamp(0.7rem, calc(1vw + 0.3rem), 0.8rem);
  color: var(--color-secundario);
}
p,
button {
  font-size: clamp(0.1rem, calc(2vw + 0.2rem), 1rem);
}
.cursiva {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
section {
  margin: var(--espaciado-vh);
  margin: var(--espaciado-lvh);
  margin-top: 0;
  margin-bottom: 0;
  padding: var(--espaciado-vh);
  padding: var(--espaciado-lvh);
}
.borde {
  border: 4px solid var(--color-secundario);
  border-top: none;
  border-bottom: none;
  border-radius: 50px;
}
.izquierda {
  margin-left: 0;
  border-left: none;
}
.derecha {
  margin-right: 0;
  border-right: none;
}

h1,
p,
header,
a,
.inicio-info,
.header-info,
h2,
h3,
h4,
.descargar {
  background: transparent;
  z-index: 2;
}

@media (width < 760px) {
  :root {
    --espaciado-vh: 5vh;
    --espaciado-lvh: 5lvh;
  }

  header {
    justify-content: center;
    text-align: center;
  }
  .header-atajos {
    display: none;
  }
  .not-burbuja {
    display: none;
  }

  #id-contactar {
    height: 90vh;
    height: 90lvh;
  }
}
