<section
  id="id-informacion"
  class="derecha m-5 p-5 pl-0
  sm:pl-5
  lg:p-10 lg:m-10"
>
  <h2>Sobre Mi</h2>
  <p class="pb-8 pt-2 pl-3 pr-2
    sm:pt-5 sm:pl-8
    lg:pr-8 lg:pl-8">
    Técnico Universitario en Programación con sólidos conocimientos en desarrollo
    <span class="font-medium">FrontEnd</span> y operaciones con <span class="font-medium">bases de datos</span>.
    Apasionado por aprender y aplicar soluciones creativas a problemas complejos.
    Experiencia en la creación de páginas web dinámicas y optimizadas para mejorar
    la experiencia del usuario. Cuento con un <span class="font-medium">Inglés - C1</span> listo para proyectos
    internacionales.
  </p>
  <h2>Habilidades</h2>
  <div
    class="flex flex-col gap-5 lg:gap-0 lg:flex-row justify-between py-5 lg:pb-0"
  >
    <div class="w-full flex justify-around">
      <img
        src="/icons/html.svg"
        alt="HTML"
        class="w-10 h-10 sm:w-14 sm:h-14 lg:w-17 lg:h-17"
      />
      <img
        src="/icons/css.svg"
        alt="CSS"
        class="w-10 h-10 sm:w-14 sm:h-14 lg:w-17 lg:h-17"
      />
      <img
        src="/icons/js.svg"
        alt="JavaScript"
        class="w-10 h-10 sm:w-14 sm:h-14 lg:w-17 lg:h-17"
      />
      <img
        src="/icons/react.svg"
        alt="React"
        class="w-10 h-10 sm:w-14 sm:h-14 lg:w-17 lg:h-17"
      />
    </div>
    <div class="w-full flex justify-around">
      <img
        src="/icons/tailwind.svg"
        alt="Tailwind"
        class="w-10 h-10 sm:w-14 sm:h-14 lg:w-17 lg:h-17"
      />
      <img
        src="/icons/astro.svg"
        alt="Astro"
        class="w-10 h-10 sm:w-14 sm:h-14 lg:w-17 lg:h-17"
      />
      <img
        src="/icons/c-sharp.svg"
        alt="C#"
        class="w-10 h-10 sm:w-14 sm:h-14 lg:w-17 lg:h-17"
      />
      <img
        src="/icons/net.svg"
        alt=".NET"
        class="w-10 h-10 sm:w-14 sm:h-14 lg:w-17 lg:h-17"
      />
    </div>
  </div>
</section>
